@import "components/variables";

.heading {
    @include sectionHeading;
    margin-left: 1rem;
    color: $fontLight;
}
.how {
    padding: 8rem 0 10rem 0;
    background: url(./assets/bg_image2.png), url(./assets/wave.svg),
        url(./assets/bg_image.png);
    background-repeat: no-repeat;
    background-size: 100%, 100%, cover;
    background-position: top, bottom, center;
    background-attachment: local, local, fixed;
}
.paragraph {
    & + & {
        margin-top: 2rem;
    }
    width: 95%;
    max-width: 60rem;
    padding: 1rem 1rem 0 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    color: $fontLight;
}
.button {
    @include button;
    margin: 3rem 0 0 1rem;
    @media (max-width: 450px) {
        margin: 1rem 0;
        width: 100%;
    }
}
