@import "components/variables";

.heading {
    @include sectionHeading;
    color: $fontLight;
}
.how {
    padding: 8rem 0;
    background: url(./assets/bg_image2.png), url(./assets/wave.svg),
        url(./assets/bg_image.png);
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: 100%, 100%, cover;
    background-position: top, bottom, center;
    background-attachment: local, local, fixed;
}
.paragraph {
    margin-top: 2rem;
    width: 100%;
    max-width: 60rem;
    font-size: 1.25rem;
    line-height: 1.5;
    color: $fontLight;
}
.button {
    @include button;
    margin-top: 3rem;
    @media (max-width: 450px) {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
}
