@import "components/variables";

.header {
    min-height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.headerContainer {
    position: relative;
}
.heading {
    margin-bottom: 10vh;
    font-size: 4.5rem;
    line-height: 1.25;
    font-weight: 900;
    @media (max-width: 720px) {
        font-size: 3rem;
    }
    @media (max-width: 600px) {
        font-size: 2.5rem;
    }
    @media (max-width: 420px) {
        font-size: 2.25rem;
    }
}
.paragraph {
    font-size: 1.25rem;
    margin-top: 5vh;
    max-width: 30rem;
    @media (max-width: 420px) {
        max-width: 20rem;
    }
}
.cup,
.beans {
    z-index: -1;
    top: 100%;
    left: 75%;
    transform: translate(-50%, -100%);
    position: absolute;
    width: 50rem;
    @media (max-width: 1920px) {
        width: 45rem;
    }
    @media (max-width: 1600px) {
        width: 40rem;
    }
    @media (max-width: 1366px) {
        width: 35rem;
    }
    @media (max-width: 1024px) {
        top: 75%;
    }
    @media (max-width: 768px) {
        width: 30rem;
    }
}
.cup {
    padding: 0rem 2rem 4rem 2rem;
}
.button {
    @include button;
    padding: 1em 3em;
    margin: 10vh 0;
    @media (max-width: 420px) {
        width: 100%;
    }
}
