@import "components/variables";
.nav {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0.25rem 0.75rem;
    background-color: $void;
    box-shadow: $shadow;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
        display: flex;
    }
}
.button {
    height: 3rem;
    width: 3rem;
    border: none;
}
.logo {
    width: 10rem;
    margin: 0 auto 0 0.5rem;
}
.iconLinks {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 30%;
    margin-left: auto;
    @media (max-width: 768px) {
        width: 50%;
    }
}
.iconLink {
    width: 1.5rem;
}
