@import "components/variables";

.slider {
    margin: 3rem auto auto;
    width: 100%;
}
.arrowLeft {
    width: 4rem;
    margin-right: 1rem;
}
.arrowRight {
    width: 4rem;
    margin-left: 1rem;
}
