$primary: #f9b300;
$hover: #e2a300;
$secondary: #fff7e1;
$fontDark: #000;
$fontLight: #ffffffe1;
$void: #fff;
$grey: #f3f3f3;
$lightGrey: #f9f9f9;

$shadow: 0px 0px 1rem 1px #00000010;
@mixin sectionHeading {
    font-size: 2rem;
    font-weight: 900;
}
@mixin sectionHeading2 {
    font-size: 1.5rem;
    font-weight: 900;
}
@mixin subPage {
    padding: 5rem 0 8rem 0;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
@mixin button {
    background-color: $primary;
    color: $fontLight;
    display: block;
    text-align: center;
    border-radius: 0.2em;
    padding: 1em 2em;
    font-size: 1rem;
    &:hover {
        background-color: $hover;
    }
}
@mixin button2 {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    text-decoration: underline;
    &:hover {
        background-color: $lightGrey;
        color: $primary;
    }
}
@mixin button3 {
    padding: 0.5rem 1rem;
    font-weight: 700;
    border-radius: 0.25rem;
    background-color: $secondary;
    border: 0.2rem solid $primary;
    color: $primary;
    &.disabled {
        background-color: $grey;
        border: 0.2rem solid grey;
    }
}
