@import "components/variables";
.instagram {
    padding: 4rem 0;
    background-image: linear-gradient($secondary 50%, $primary 50%);
}
.flexHeading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media (max-width: 768px) {
        display: block;
    }
}
.heading {
    @include sectionHeading;
}
.instagramIcon {
    margin-left: 2rem;
    width: 4rem;
    @media (max-width: 768px) {
        width: 3rem;
        margin: 0;
        transform: translate(0%, 150%);
    }
}
