@import "components/variables";
.footer {
    background: $void;
    background-image: url(../../assets/bg_shape_footer.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 6rem;
    overflow-x: hidden;
}

.main {
    display: flex;
    align-items: flex-start;
    position: relative;
}
.images {
    width: 40%;
    position: relative;
    @media (max-width: 768px) {
        position: absolute;
        width: 70%;
        right: 0;
        top: 0;
        transform: translate(50%);
    }
}
.cup,
.beans {
    width: 120%;
    position: absolute;
    top: -6rem;
    left: 0;
}
.cup {
    padding: 4rem;
}
.subscription {
    width: 60%;
    @media (max-width: 768px) {
        width: 100%;
        z-index: 2;
    }
}

.heading {
    @include sectionHeading;
}
.paragraph {
    font-size: 1.2rem;
    line-height: 1.25;
    margin-top: 3rem;
    max-width: 30rem;
}
.input {
    margin-top: 3rem;
    width: 100%;
    @media (max-width: 768px) {
        max-width: 35rem;
    }
    position: relative;
    overflow: hidden;
    input {
        background-color: $grey;
        font-size: 1.25rem;
        width: 100%;
        border-radius: 5rem;
        padding: 0.75rem 12rem 0.75rem 2rem;
    }
}
.button {
    position: absolute;
    @include button;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10rem;
    height: 100%;
    border-radius: 5rem;
}
.agreement {
    margin-top: 3rem;
    width: 100%;
    max-width: 40rem;
}
.agreementLink {
    display: inline;
    color: $primary;
}

.nav {
    z-index: 2;
    padding: 1rem 2rem 3rem 2rem;
    display: flex;
    margin-top: 10rem;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 8rem;
    margin-right: 2rem;
}
.links {
    width: 100%;
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
}
.link {
    font-size: 1.2rem;
    padding: 1rem;
}
