@import "components/variables";
@keyframes burgerOpen {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes burgerClose {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.burgerMenu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: $fontDark;
    position: fixed;
    width: 100%;
    height: 100vh;
    padding: 2vh 0;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background-color: $void;
    animation: burgerOpen 250ms ease forwards;
}
.close {
    animation: burgerClose 250ms ease forwards;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    width: 12rem;
}
.buttonClose {
    width: 2.5rem;
}
.textLink {
    font-size: 1.5rem;
    padding: 1em;
    margin-left: 15%;
    width: fit-content;
    margin-top: 0.5em;
}
.iconLinks {
    display: flex;
}
.iconLink {
    font-size: 1.5rem;
    padding: 1em;
    margin-left: 15%;
    margin-top: 1rem;
    & + & {
        margin-left: 1.25rem;
    }
}
.socialLinks {
    margin: 5vh 0;
}
.socialLinksContainer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.socialLink {
    padding: 1rem;
}
.socialLinkText {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}
